{% extends 'main/base.html' %}
{% block title %}
Главная
{% endblock %}

{% block content %}

    <section class="home-products">
      <div class="container">
          <h3 class="all_products">Все товары</h3>
          <div class="products-wrapper">

            <!-- Каталог Мышек -->

            <div class="product">
              <div class="img">
                <img src="img/mouse1.jpg" alt="">
              </div>
              <a href="" class="tittle">LogiChseet</a>
              <p class="description">
                Офисная мышка для офисного планктона вроде тебя
              </p>
              <div class="rating">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <div class="price">
                <b>150 руб</b>
              </div>
              <a href="" class="to-cart">В корзину</a>
            </div>

            <div class="product">
              <div class="img">
                <img src="img/mouse2.webp" alt="">
              </div>
              <a href="" class="tittle">Dexp</a>
              <p class="description">
                Офисная мышка для офисного планктона вроде твоего друга
              </p>
              <div class="rating">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <div class="price">
                <b>350 руб</b>
              </div>
              <a href="" class="to-cart">В корзину</a>
            </div>

            <div class="product">
              <div class="img">
                <img src="img/mouse3.jpg" alt="">
              </div>
              <a href="" class="tittle">Bloody</a>
              <p class="description">
                Отлично подходит для про-игрока в Fortnite
              </p>
              <div class="rating">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <div class="price">
                <b>6500 руб</b>
              </div>
              <a href="" class="to-cart">В корзину</a>
            </div>

            <div class="product">
              <div class="img">
                <img src="img/mouse4.jpg" alt="">
              </div>
              <a href="" class="tittle">Animal</a>
              <p class="description">
                чё за мыш
              </p>
              <div class="rating">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <div class="price">
                <b>0 руб</b>
              </div>
              <a href="" class="to-cart">В корзину</a>
            </div>

          </div>
      </div>
    </section>



{% endblock %}